[submodule "libs/adafruit-sh110x/Adafruit_SH110x"]
	path = libs/adafruit-sh110x/Adafruit_SH110x
	url = https://github.com/adafruit/Adafruit_SH110x
[submodule "libs/adafruit-gfx-library/Adafruit-GFX-Library"]
	path = libs/adafruit-gfx-library/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library
